<VirtualHost *:80>
  ServerName {{hostname}}

{% include http_config %}
</VirtualHost>

<IfModule mod_ssl.c>
<VirtualHost *:443>
  ServerName {{hostname}}

  ErrorLog logs/{{hostname}}_error_log
  TransferLog logs/{{hostname}}_access_log
  LogLevel warn

{% include https_config %}
</VirtualHost>
</IfModule>
